# Dictionaries & Pandas

In [2]:
from IPython.display import IFrame

# Display PDF with responsive width and height
IFrame("https://projector-video-pdf-converter.datacamp.com/799/chapter2.pdf", width="100%", height="600px")

## Dictionaries, Part 1

In [3]:
world = {"afghanistan":30.55, "albania":2.77, "algeria":39.21}
world["albania"]

2.77

### Create dictionary

The countries and capitals lists are again available in the script. It's your job to convert this data to a dictionary where the country names are the keys and the capitals are the corresponding values. As a refresher, here is a recipe for creating a dictionary:

my_dict = {
   "key1":"value1",
   "key2":"value2",
}

In this recipe, both the keys and the values are strings. This will also be the case for this exercise.

In [4]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

### Access dictionary

If the keys of a dictionary are chosen wisely, accessing the values in a dictionary is easy and intuitive. For example, to get the capital for France from europe you can use:

europe['france']

Here, 'france' is the key and 'paris' the value is returned.

In [5]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

## Dictionaries, Part 2

In [6]:
#create new entity to existing dictionary
world = {'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21}

world['sealand'] = 5.55
world

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21, 'sealand': 5.55}

In [7]:
# update value corresponding to any key
world['sealand'] = 9.55
world

# we used same syntax for creationg and updating the {"seland" : value} pair. that means it checks whether the key 'sealand' exists there or not. if exists, it updates the value else it creates new pair.

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21, 'sealand': 9.55}

In [8]:
# remove any pair from dictionary
del(world['sealand'])
world

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21}

Remember lists? They could contain anything, even other lists. Well, for dictionaries the same holds. Dictionaries can contain key:value pairs where the values are again dictionaries.

As an example, have a look at the script where another version of europe - the dictionary you've been working with all along - is coded. The keys are still the country names, but the values are dictionaries that contain more information than just the capital.

In [9]:
 # Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

## Pandas, Part 1

![image copy 4.png](./images/image%20copy%204.png)

- numpy is efficient for same type of data
- pandas is efficient for different type of data

In [10]:
dict = {
"country":["Brazil", "Russia", "India", "China", "South Africa"],
"capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
"area":[8.516, 17.10, 3.286, 9.597, 1.221],
"population":[200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)

brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [11]:
# changing the index of the dataframe

brics.index = ['BR', 'RU' , 'IN', 'CH', 'SA']
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### read external data with pandas

In [12]:
brics = pd.read_csv('./data/brics.csv')
brics

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [13]:
# previous data reading is taking one extra index.. unnecessarily
# instead do following to skip taking extra index

brics = pd.read_csv('./data/brics.csv',index_col=0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### dictionary to DataFrame (1)

Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python. Sounds promising!

The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

In the exercises that follow you will be working with vehicle data from different countries. Each observation corresponds to a country and the columns give information about the number of vehicles per capita, whether people drive left or right, and so on.

Three lists are defined in the script:

    names, containing the country names for which data is available.
    dr, a list with booleans that tells whether people drive left or right in the corresponding country.
    cpc, the number of motor vehicles per 1000 people in the corresponding country.

Each dictionary key is a column label and each value is a list which contains the column elements.

In [14]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd

import pandas as pd
# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap': cpc}


# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [15]:
# we can update the row_labels using an outer list
# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

## Pandas, Part 2

In [16]:
cars['country']

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [17]:
type(cars['country'])

# In a simplified sense, you can think of the Series as a 1-dimensional array that can be labeled, just like the DataFrame. Otherwise put, if you paste together a bunch of Series, you can create a DataFrame.

pandas.core.series.Series

In [18]:
# If you want to select the country column but keep the data in a DataFrame, you'll need double square brackets, like this.
type(cars[['country']])

pandas.core.frame.DataFrame

In [19]:
# You can perfectly extend this call to select two columns, country and capital, for example. If you look at it from a different angle, you're actually putting a list with column labels inside another set of square brackets, and end up with a 'sub DataFrame', containing only the country and capital columns. You can also use the same square brackets to select rows from a DataFrame. 

cars[['country', 'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

### Row access in DataFrame

- slicing method

In [24]:
# the row selection can be done with the position indexing/ position range indexing
cars[1:4]

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JPN      Japan         False           588
IN       India         False            18

pandas selection methods

- loc: label-based
- iloc: integer position-based

In [27]:
dict = {
"country":["Brazil", "Russia", "India", "China", "South Africa"],
"capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
"area":[8.516, 17.10, 3.286, 9.597, 1.221],
"population":[200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
brics.index = ['BR', 'RU' , 'IN', 'CH', 'SA']

1. row access loc & iloc

In [ ]:
# using loc
brics.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [34]:
# using iloc
brics.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

2. select multiple row at once

In [ ]:
# using loc
brics.loc[['SA','BR','RU']]

         country   capital    area  population
SA  South Africa  Pretoria   1.221       52.98
BR        Brazil  Brasilia   8.516      200.40
RU        Russia    Moscow  17.100      143.50

In [35]:
# using iloc
brics.iloc[[4, 0, 1]]

         country   capital    area  population
SA  South Africa  Pretoria   1.221       52.98
BR        Brazil  Brasilia   8.516      200.40
RU        Russia    Moscow  17.100      143.50

3. select multiple row with some specific column

In [36]:
# using loc

brics.loc[['SA', 'RU', 'BR'],['country', 'area']]

         country    area
SA  South Africa   1.221
RU        Russia  17.100
BR        Brazil   8.516

In [37]:
# usin iloc
brics.iloc[[4,0,1],[0, 2]]

         country    area
SA  South Africa   1.221
BR        Brazil   8.516
RU        Russia  17.100

4. select all row with some specific column

In [39]:
# using loc

brics.loc[:,['country','area']]

         country    area
BR        Brazil   8.516
RU        Russia  17.100
IN         India   3.286
CH         China   9.597
SA  South Africa   1.221

In [40]:
# using iloc
brics.iloc[:,[0,2]]

         country    area
BR        Brazil   8.516
RU        Russia  17.100
IN         India   3.286
CH         China   9.597
SA  South Africa   1.221

![alt text](https://imgur.com/8zfmRTD.png)